@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
     
    //foreach(var item in ViewBag.i)
    //{
    //   <ul><li>@item</li></ul>
    //}




  //  <form method="post">
  //  <label>Enter first number</label>
  //  <input type="text" name="t1" />
  //    <br />
  //  <label>Enter Name</label>
  //  <input type="text" name="t2" />
  //<input type="submit"  value="Add number" formaction="Acceptnprint" formmethod="post"/>
  //   </form>
  //  int a = Convert.ToInt32( ViewBag.num);
  //  for(int i=0;i<a;i++)
  //  {
  //      @ViewBag.name<br />
  //  }


  


     <form method="post">
    <label>Enter first number</label>
    <input type="text" name="t1" />
    <br />
    <label>Enter Name</label>
    <input type="text" name="t2" />
  <input type="submit"  value="Greatest" formaction="Findgreatest" formmethod="post"/>
 </form>
    int b = Convert.ToInt32( ViewBag.num1);
    int c = Convert.ToInt32( ViewBag.num2);
    if(b>c)
    {
        <p >@b is greater</p>
    } else
    {
        <p>@c  is greater</p>
    }

   


 //    <form method="post">
 //   <label>Enter empid</label>
 //   <input type="text" name="empid" /><br>
 //   <label>Enter empname</label>
 //   <input type="text" name="empname" /><br>
 //   <label>Enter DOB</label>
 //   <input type="Date" name="DOB" /><br>
 //   <label>Gender</label><br>
 //   <input type="radio" name="gender" value="female">
 //  <label for="female"> Female</label><br>
 //   <input type="radio" name="gender" value="Male" >
 //    <label for="Male"> Male</label><br>
 //<label for="Nationality">Choose a nationality:</label>
 // <select name="Nationality" id="nationality"><br>
 //   <option value="India">India</option>
 //   <option value="Us">Us</option>
 //   <option value="UK">UK</option>
 //   <option value="Russia">Russia</option>
 // </select>
 //   <br />
 //   <input type="submit"  value="submit" formaction="reg" formmethod="post"/>

 //   </form>
 //   }
 //   <ul>
 //   <li>@ViewBag.num1</li>
 //    <li>@ViewBag.num2</li>
 //     <li>@ViewBag.num3</li>
 //      <li>@ViewBag.num4</li>

 //       <li>@ViewBag.num5</li>
       
 //      </ul>
}